# dependencies
node_modules
package-lock.json
.idea

# build output
dist
out
build

# electron build
release

# environment
.env
.env.local

# OS files
.DS_Store
Thumbs.db

# logs
*.log
npm-debug.log*